@model Pizza

@{
    ViewData["Title"] = "Dettagli Pizza";
}

<div class="show-pizza-wrapper h-auto">
    <div class="container pizza-card-container">
        <div class="d-flex justify-content-end my-2">
            <a href="@Url.Action("Index", "Pizza")" class="btn btn-danger"><i class="bi bi-skip-backward"></i> Back to all Pizzas</a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card pizza-card">
                    <div class="card-image">
                        <img src="@Url.Content(Model.Photo)" class="card-img-top" alt="@Model.Name">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fs-1 text-center text-danger">@Model.Name - <span class="badge bg-dark">@($"{Model.GetDisplayedCategory()}")</span></h5>
                        <p class="card-text text-center">Description: @Model.Description</p>
                        <p class="card-text text-center"><small class="text-muted">Price: € @Model.Price</small></p>
                        
                    </div>
                    <div style="display: flex; flex-wrap: wrap; gap: 5px;">
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <div style="background-color: #AAAAAA; display: flex; justify-content: center; align-items: center;
                            border-radius: 3px; border-style: solid; border-color: #AAAAAA; padding: 2px;">
                                @ingredient.Name
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
